In [1]:
import pandas as pd
Path = r'C:\Users\rgupta4\Assignment For DA Candidates\Data Analyst Assignment Part 2'

In [2]:
bigkart_newsales = pd.read_csv(Path + '\\' + 'bigkart_newsales.csv')
bigkart_newsales.shape

(9, 8)

In [3]:
bigkart_newsales.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,AZ-2011-1902971,"Wilson Jones Binding Machine, Clear",0.0,339,102,7,Office Supplies,Binders
1,AZ-2011-1916360,"Dania 3-Shelf Cabinet, Mobile",0.0,288,20,2,Furniture,Bookcases
2,AZ-2011-1916555,"Eldon Folders, Single Width",0.4,61,7,6,Office Supplies,Storage
3,AZ-2011-1930058,"Sanford Markers, Easy-Erase",0.0,71,1,3,Office Supplies,Art
4,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories

In [4]:
bigkart_sales = pd.read_csv(Path + '\\' + 'bigkart_sales.csv')
bigkart_sales.shape

(59, 8)

In [5]:
bigkart_sales.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,AZ-2011-1029887,"Novimex Color Coded Labels, 5000 Label Set",0.0,26,7,2,Office Supplies,Labels
1,AZ-2011-107716,"Deflect-O Door Stop, Erganomic",0.0,85,15,2,Furniture,Furnishings
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines
4,AZ-2011-1362199,"Sanford Pens, Fluorescent",0.5,25,-11,4,Office Supplies,Art

In [6]:
# Question 1: Some of the orders are stored in another csv file named `bigkart_newsales`. 
#     Read the csv file, store it in a data frame and add it to the `bigkart_sales` data frame. 
#     Find the total sales value of the category 'Office Supplies' after combining the dataframes

bigkart_combined = pd.concat([bigkart_sales,bigkart_newsales],ignore_index = True)
bigkart_combined.shape

(68, 8)

In [7]:
bigkart_combined.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,AZ-2011-1029887,"Novimex Color Coded Labels, 5000 Label Set",0.0,26,7,2,Office Supplies,Labels
1,AZ-2011-107716,"Deflect-O Door Stop, Erganomic",0.0,85,15,2,Furniture,Furnishings
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines
4,AZ-2011-1362199,"Sanford Pens, Fluorescent",0.5,25,-11,4,Office Supplies,Art

In [8]:
#Filtering data based on Office supplies
bigkart_combined_OS = bigkart_combined[bigkart_combined['Category'] == 'Office Supplies']
#Grouping by Sales amount
bigkart_combined_OS.groupby(['Category'])['Sales'].sum()
#Q1 Ans

Category
Office Supplies    7970
Name: Sales, dtype: int64

In [9]:
#Question 2: There are some duplicate rows in the data frame. 
#Drop these rows and calculate the total sales value of the category Office Supplies.
bigkart_combined_unique = bigkart_combined.drop_duplicates(keep='first')
bigkart_combined_unique.shape

(61, 8)

In [10]:
#Filtering data based on Office supplies
bigkart_combined_unique_OS = bigkart_combined_unique[bigkart_combined_unique['Category'] == 'Office Supplies']
#Grouping by Sales amount
bigkart_combined_unique_OS.groupby(['Category'])['Sales'].sum()
#Q2 Ans

Category
Office Supplies    6964
Name: Sales, dtype: int64

In [11]:
# Question 3: Find the most profitable category and sub category combination based on the net profit.
bigkart_combined_unique.groupby(['Category','Sub-Category'])['Sales'].agg(sum).nlargest(1)
#Q3 Ans

Category    Sub-Category
Technology  Phones          5199
Name: Sales, dtype: int64

In [12]:
# Question 4: How many invalid order IDs are there in the data frame. 
# An order id is of the form AZ-2011-Y where Y represents a whole number. 
# A Order ID is said to be valid only if Y consists of 7 digits. 
# Find the number of invalid order order IDs in the data frame.

Invalid_order_Count = 0
for orders in bigkart_combined_unique['Order ID']:
    ID = orders.split('-')[2]
    if len(ID) != 7 :
        Invalid_order_Count += 1

print("Invalid Orders = ",Invalid_order_Count)

Invalid Orders =  7

In [13]:
# Question 5: Find the top 25 orders based on sales value and find the number of orders which belong to furniture category.
bigkart_combined_unique_top25_sales =  bigkart_combined_unique.sort_values(['Sales'], ascending = False).head(25)

#orders which belong to furniture category
bigkart_combined_unique_top25_sales[bigkart_combined_unique_top25_sales['Category'] == 'Furniture']

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
31,AZ-2011-144325,"Bush Stackable Bookrack, Pine",0.0,630,132,5,Furniture,Bookcases
12,AZ-2011-1253407,"Safco Stackable Bookrack, Pine",0.1,541,156,4,Furniture,Bookcases
17,AZ-2011-130330,"Office Star Chairmat, Adjustable",0.1,307,99,5,Furniture,Chairs
60,AZ-2011-1916360,"Dania 3-Shelf Cabinet, Mobile",0.0,288,20,2,Furniture,Bookcases
43,AZ-2011-1589827,"Novimex Steel Folding Chair, Red",0.6,164,-70,5,Furniture,Chairs

In [14]:
# Question 6: Among the orders with sales>250 and profit>50, 
# find the product name of the fourth highest order based on sales value.

bigkart_combined_unique_SP = bigkart_combined_unique[(bigkart_combined_unique['Sales'] > 250) & (bigkart_combined_unique['Profit']>50)]

bigkart_combined_unique_SP.sort_values(['Sales'], ascending = False)[3:4]

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
20,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones

In [16]:
# Question 7: Remove the orders with negative profit by dropping the corresponding rows with negative `Profit`. 
#     Find the product that makes the lowest profit per Quantity in the Technology category.

bigkart_combined_unique_NoNegative = bigkart_combined_unique[bigkart_combined_unique['Profit'] > 0] 
bigkart_combined_unique_NoNegative_Tech = bigkart_combined_unique_NoNegative[bigkart_combined_unique_NoNegative['Category'] == 'Technology']
bigkart_combined_unique_NoNegative_Tech.loc[:,'Profit_per_Quantity'] = bigkart_combined_unique_NoNegative_Tech.loc[:,'Profit'] / bigkart_combined_unique_NoNegative_Tech.loc[:,'Quantity'] 
bigkart_combined_unique_NoNegative_Tech.sort_values(['Profit_per_Quantity'])[:1]

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Profit_per_Quantity
39,AZ-2011-1536006,"Logitech Keyboard, Programmable",0.0,666,66,9,Technology,Accessories,7.333333